body{
    text-align: center ;
    
}
label{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    border-radius: 20px;
}
div {
    background-color: rgb(231, 222, 222);
    border-radius: 10px;
    width: 430px ;
    margin: auto;
    box-shadow: 5px 5px 10px ;

}
button{
    border-radius: 10px;
    background-color: rgb(10, 163, 40) ;
 
}
button:hover{
    background: rgb(38, 243, 38);
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}